.header{
    margin: 30px 60px 0px 60px;
}

.logo1{
  height:40px;
}

.logo2{
    height:60px;
  }

.flex{
  display:flex;
  align-items: center;
}

.flex-center{
  justify-content: center;
}

.between{
  justify-content: space-between;
}

/* .flex-end{
    justify-content: flex-end;
}
.flex-start{
    justify-content: flex-start;
} */

 .flex-column{
    flex-direction: column;
 }

 .button1{
    margin-right:50px;
 }

 .logout{
  color:red;
 }

 /* .img-posts{
    width:30vw;
 } */
 .img-wrap{
    flex-direction:row;
    flex-wrap:wrap;
    margin-bottom:5vh;
 }

 /* .img1{
    background-image: url(https://images.pexels.com/photos/1646311/pexels-photo-1646311.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 400px;
    width:400px;
    background-size: cover;
}
 .img2{
    background-image: url(https://images.pexels.com/photos/2335126/pexels-photo-2335126.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 400px;
    width:400px;
    background-size: cover;
}
 .img3{
    background-image: url(https://images.pexels.com/photos/4091975/pexels-photo-4091975.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 400px;
    width:400px;
    background-size: cover;
} */

.img-1, .img-2, .img-3 {
    width: 30vw; 
    height: 27vw; 
    overflow: hidden; 
}

.img-1 img, .img-2 img, .img-3 img {
    width: 100%; 
    height: 100%;
    object-fit:cover;
}

.post{
  width:30vw;
}

.container-post{
  border-radius: 5px;
  border: 0.5px solid grey;
  padding: 10px 0 10px 0;
  margin-bottom: 10px;
}

.text{
  margin-left:10px;
  margin-right:-10px;
  padding-right: 20px;
  text-align: justify;
}